@model ComputerAccounting.Models.User
@Html.ValidationSummary(true)
@Styles.Render("~/Content/ValidCreate.css")
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Регистрация нового пользователя</h2>
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-row" }))
{
    <div class="m-3 form-group col-md-6">
        @Html.LabelFor(m => m.Surname, "Фамилия:", new { @class = "mb-2" })
        @Html.TextBoxFor(m => m.Surname, new { type = "text", @class = "form-control", placeholder = "Мисевич" })
        @Html.ValidationMessageFor(m => m.Surname)
    </div>
    <div class="m-3 form-group col-md-6">
        @Html.LabelFor(m => m.Name, "Имя:", new { @class = "mb-2" })
        @Html.TextBoxFor(m => m.Name, new { type = "text", @class = "form-control", placeholder = "Владислав" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="m-3 form-group col-md-6">
        @Html.LabelFor(m => m.Patronymic, "Отчество:", new { @class = "mb-2" })
        @Html.TextBoxFor(m => m.Patronymic, new { type = "text", @class = "form-control", placeholder = "Александрович" })
        @Html.ValidationMessageFor(m => m.Patronymic)
    </div>
    <div class="m-3 form-group col-md-6">
        @Html.LabelFor(m => m.Email, "Email:", new { @class = "mb-2" })
        @Html.TextBoxFor(m => m.Email, new { type = "email", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="m-3 form-group col-md-6">
        @Html.LabelFor(m => m.Password, "Пароль:", new { @class = "mb-2" })
        @Html.TextBoxFor(m => m.Password, new { type = "password", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div class="m-3 form-group col-md-6">
        @Html.LabelFor(m => m.PasswordConfirm, "Подтвердите пароль:", new { @class = "mb-2" })
        @Html.TextBoxFor(m => m.PasswordConfirm, new { type = "password", @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PasswordConfirm)
    </div>
        <input type="submit" class="m-3 btn btn-primary mt-3" value="Зарегестрироваться" />
}
